Answer 1

In [ ]:
nl=[]
for x in range(2000, 3201):
    if (x%7==0) and (x%5!=0):
        nl.append(str(x))
print (','.join(nl))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

Answer 2

In [ ]:
def facto(x):
    fact=1
    for i in range(1,x+1):
      fact=fact*i
    return fact

x = int(input("Enter Value: "))
print (facto(x))

Enter Value: 8
40320

Answer 3

In [ ]:
num = int(input("Enter Range: "))

dict = {}
for i in range(1, num+1):
    dict[i] = i*i

print(dict)

Enter Range: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Answer 4

In [ ]:
num = input("Enter Values")
list = num.split(",")
tuple = tuple(list)
print(list)
print(tuple)

Enter Values34,67,55,33,12,98
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

Answer 5

In [ ]:
class StrUpper:
    def __init__(self):
        self.str = ""

    def getString(self):
        self.str = input("Enter String: ")

    def printString(self):
        print ("String In Upper Case is : ",self.str.upper())

obj = StrUpper()
obj.getString()
obj.printString()

Enter String: tanya
String In Upper Case is :  TANYA

Answer 6

In [ ]:
import math
c=50
h=30
d = input("Provide D: ")
d = d.split(',')

result = []
for i in d:
    Q = (int(round(math.sqrt(2*c*float(i)/h))))
    result.append(Q)

print(result)

Provide D: 100,150,180
[18, 22, 24]

Answer 7

In [ ]:
x = int(input("Rows: "))
y = int(input("Columns: "))
list = [[0 for col in range(y)] for row in range(x)]

for i in range(x):
    for j in range(y):
        list[i][j]= i*j

print(list)

Rows: 3
Columns: 5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

Answer 8

In [ ]:
list = input("Enter String : ")
list=list.split(',')
list.sort()
print(",".join(list))

Enter String : without,hello,bag,world
bag,hello,without,world

Answer 9

In [ ]:
list = []
while True:
    str = input("Enter String : ")
    if len(str)==0:
        break
    else:
        list.append(str.upper())

for i in list:
    print(i)

Enter StringHello world
Enter Stringpractice makes perfect
Enter String
HELLO WORLD
PRACTICE MAKES PERFECT

Answer 10

In [ ]:
str = input("Enter String: ")
str=str.split()
for i in str:
    if str.count(i) > 1 :   
        str.remove(i) 

str.sort()
print(" ".join(str))

Enter String: hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

Answer 11

In [ ]:
result = []
num = [x for x in input().split(',')]
for i in num:
    x = int(i, 2)
    if not x%5:
        result.append(i)
print(','.join(result))

0100,0011,1010,1001
1010

Answer 12

TypeError: ignored

Answer 13

In [ ]:
str = input()
l,d = 0,0

for i in str:
    if ('a'<=i and i<='z') or ('A'<=i and i<='Z'):
        l+=1
    if '0'<=i and i<='9':
        d+=1
print("LETTERS  ",l ,"\nDIGITS  ",d)

hello world! 123
LETTERS  10
DIGITS  3
LETTERS 10
DIGITS 3

Answer 14

In [ ]:
str = input()
upper,lower = 0,0

for i in str:
    if 'a'<=i and i<='z' :
        lower+=1
    if 'A'<=i and i<='Z':
        upper+=1
print("UPPER CASE  ",upper,"\nLOWER CASE  ",lower)

Hello world!
UPPER CASE   1
LOWER CASE   9

Answer 15

In [ ]:
num = input()
sum = int(num) + int(2*num) + int(3*num) + int(4*num) 
print(sum)

9
11106

ANswer 16

In [ ]:
list = input().split(',') 
res = []
list = [int(i) for i in list]
for i in list:
        if i%2 != 0:
                i = i*i
                i="{}".format(i)
                res.append(i)
print(",".join(res))

1,2,3,4,5,6,7,8,9
1,9,25,49,81

Answer 17

In [ ]:
sum = 0

while True:
    string = input()
    trans = string.split(" ")
    types = trans[0]
    amount=int(trans[1])
    if types=="D" or types=="d":
		    sum += amount
    elif types=="W" or types=="w":
		    sum -= amount
        
print ("Net amount: ", sum)

D 300
D 300
W 100
D 200

IndexError: ignored

Answer 18

In [ ]:
import re 
pwdlst=['a F1#','ABd1234@1','2w3E*','2We3345']
for i in pwdlst:
    leng=len(i)
    if((5<leng<17)) and re.search("[a-z]",i) and re.search("[A-Z]",i) and re.search("[0-9]",i) and re.search("[$#@]",i) :
        print(i)
    else:
        continue

ABd1234@1

Answer 19

In [59]:
from operator import itemgetter

l = []
while True:
    s = input()
    if not s:
        break
    n=tuple(s.split(","))
    l.append(n)

l.sort(key =  itemgetter(0, 1, 2))       
print(l)

Tom,16,17

TypeError: ignored

Answer 20

In [61]:
class iterator:
    def __init__(self,n):
        self.n = n

    def generating(self):
        l=[]
        for i in range(0,self.n):
          if(i%7==0):
            l.append(i)
        print(l)


obj = iterator(50)
obj.generating()

[0, 7, 14, 21, 28, 35, 42, 49]

Answer 21

In [62]:
import math
x=0
y=0
lt=[]
for i in range(0,4):
    str=input()
    lt.append(str)
for i in lt:
    i=i.split(" ")
    if i[0]=="up":
        y+=int(i[1])
    elif i[0]=="down":
        y-=int(i[1])
    elif i[0]=="right":
        x+=int(i[1])
    elif i[0]=="left":
        y-=int(i[1])

dist=round(math.sqrt((x**2)+(y**2)))
print("Distance is : ",dist)

up 5
down 3
left 3
right 2
Distance is :  2

Answer 22

In [64]:
string = input().split()
word = sorted(set(string))

for i in word:
    print(i,":",string.count(i))

New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3.
2 : 2
3. : 1
3? : 1
New : 1
Python : 5
Read : 1
and : 1
between : 1
choosing : 1
or : 2
to : 1

Answer 23

In [66]:
def calculate(n):
    sqr=n*n
    return sqr

num=int(input("Enter Number : "))
print(calculate(num))

Enter Number : 5
25

Answe 24

In [67]:
print (abs.__doc__)
print (int.__doc__)
print (input.__doc__)

def mul(num):
    return num * 9

print (mul(2))
print (mul.__doc__)

Return the absolute value of the argument.
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4
Forward raw_input to frontends

        Raises
        ------
        StdinNotImplentedError if active frontend doesn't support stdin.

18
None

Answer 25

In [70]:
class Person:
    name = "Student"

    def __init__(self,name = None):
        self.name = name

Tanya=Person()
Tanya.name="Tanya"
print(Person.name," name is ",Tanya.name)

Student  name is  Tanya

Answer 26

In [72]:
def add(a,b):
  return a+b    
print(add(1,2))

3

Answer 27

In [75]:
def converter(n):
  i="{}".format(n)
  return(i)

print(converter(3))

3

Answer 28

In [77]:
def sum(s1,s2):
	print(int(s1) + int(s2))
sum("3","4")

7

Answer 29

In [80]:
def concating(s1,s2):
	print(s1 + s2)

concating("Tanya","Gupta")

TanyaGupta

Answer 30

In [81]:
def LengthCalc(s1,s2):
    l1 = len(s1)
    l2 = len(s2)
    if l1 > l2:
        print(s1)
    elif l1 < l2:
        print(s2)
    else:
        print(s1)
        print(s2)

s1,s2=input().split()
LengthCalc(s1,s2)

Tanya Guptaa
Guptaa

Answer 31

In [84]:
def square():
    dict={i:i**2 for i in range(1,21)} 
    print(dict)

square()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

Answer 32

In [85]:
def square():
    dict={i:i**2 for i in range(1,21)} 
    print(dict.keys())

square()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

Answer 33

In [86]:
def square():
	lst=[]
	for i in range(1,21):
		lst.append(i**2)
	print (lst)

square()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

Answer 34

In [87]:
def square():
	lst=[]
	for i in range(1,21):
		lst.append(i**2)
	print (lst[:5])

square()

[1, 4, 9, 16, 25]

Answer 35

In [88]:
def square():
	lst=[]
	for i in range(1,21):
		lst.append(i**2)
	print (lst[-5:])

square()

[256, 289, 324, 361, 400]

Answer 36

In [89]:
def square():
	lst=[]
	for i in range(1,21):
		lst.append(i**2)
	print (lst[5:])

square()

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

Answer 37

In [96]:
def square():
    return (tuple(i ** 2 for i in range(1, 21)))

print(square())

TypeError: ignored

Answer 38

In [97]:
tup = (1,2,3,4,5,6,7,8,9,10)
print(tup[:5])
print(tup[5:])

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

Answer 39

In [102]:
tup = (1,2,3,4,5,6,7,8,9,10)
lst = []
for i in tup:
	if i%2 == 0:
		lst.append(i)

print(lst)

[2, 4, 6, 8, 10]

Answer 40

In [103]:
s= input()
if s=="yes" or s=="YES" or s=="Yes":
    print("Yes")
else:
    print("No")

yes
Yes

Answer 41

In [107]:
lst = [1,2,3,4,5,6,7,8,9,10]
squares = map(lambda x: x**2, lst)
print(squares)

TypeError: ignored

Answer 42

In [110]:
def eve(x):
    return x%2==0

def sqr(x):
    return x*x

lst = [1,2,3,4,5,6,7,8,9,10]
lst = map(sqr,filter(eve,lst))  
print(list(lst))

TypeError: ignored

Answer 43

In [111]:
eve = filter(lambda x: x%2==0, range(1,21))
print(eve)

<filter object at 0x7f24d5cd7ad0>

Answer 44

In [112]:
sqr = map(lambda x: x**2, range(1,21))
print(sqr)

<map object at 0x7f24d5d61590>

Answer 45

In [113]:
class American():
    @staticmethod
    def printNationality():
        print("American")

obj = American()
obj.printNationality()   
American.printNationality()

American
American

Answer 46

In [115]:
class American():
    print("Parent Class")

class NewYorker(American):
    print("Child Class")

obj1 = American()
obj2 = NewYorker()

print(obj1)
print(obj2)

Parent Class
Child Class
<__main__.American object at 0x7f24d5d7ae50>
<__main__.NewYorker object at 0x7f24d5d7add0>

Answer 47

In [117]:
import math
class Circle():
    def __init__(self,r):
        self.radius = r

    def area(self):
        return math.pi*(self.radius**2)


obj = Circle(6)

Answer 48

In [118]:
class Rectangle():
    def __init__(self,l,b):
        self.l = l
        self.b = b

    def area(self):
        return self.l*self.b


rect = Rectangle(2,4)
print(rect.area())

8

Answer 49

In [119]:
class Shape():
    def __init__(self):
        pass

    def area(self):
        return 0

class Square(Shape):
    def __init__(self,side = 0):
        Shape.__init__(self)
        self.side = side

    def area(self):
        return self.side**2

obj = Square(5)
print(obj.area())

25

Answer 50

In [120]:
raise RuntimeError('something wrong')

RuntimeError: ignored

Answer 51

In [121]:
def compute():
    return 5/0

try:
    compute()
except ZeroDivisionError as ze:
    print(ze)
except:
    print("other error")

division by zero

Answer 52

In [125]:
class CustError(Exception):

    def __init__(self, age, message="Not Eligible to Vote"):
        self.age = age
        self.message = message
        super().__init__(self.message)


age = int(input("Enter age: "))
if age<18:
    raise CustError(age)
else:
  print("Eligible To Vote")

Enter age: 80
Eligible To Vote

Answer 53

In [127]:
import re
email = input("Enter Mail Id :")
pattern = "(\w+)@\w+.com"
name = re.findall(pattern,email)
print(name)

['john']

Answer 54

In [128]:
import re
email = input("Enter Mail Id :")
pattern = "\w+@(\w+).com"
companyname = re.findall(pattern,email)
print(companyname)

Enter Mail Id :tanyagupta@gmail.com
['gmail']

Answer 55

In [130]:
import re
strings = input("Enter String : ")
print(re.findall("\d+",strings))

Enter String : 2 cats and 3 dogs
['2', '3']

Answer 56

In [134]:
print(u"hello world!")

hello world!

Answer 57

In [135]:
num = input()
res = num.encode('utf-8')
print(res)

tanya
b'tanya'

Answer 58

In [ ]:
# -*- coding: utf-8 -*-

Answer 59

In [144]:
n=int(input())
res=0.0
for i in range(1,n+1):
    res += float(float(i)/(i+1))
print (round(res,2))

5
3.55

Answer 60

In [138]:
def f(n):
    if n == 0:
        return 0
    return f(n-1) + 100

n = int(input())
print(f(n))

5
500

Answer 61

In [139]:
def f(n):
    if n < 2:
        return n
    return f(n-1) + f(n-2)

n = int(input())
print(f(n))

7
13

Answer 62

In [143]:
def fun(n):
    if n < 2:
        fibo[n] = n
        return fibo[n]
    fibo[n] = f(n-1) + f(n-2)
    return fibo[n]

num = int(input())
fibo = [0]*(num+1)  
fun(num)              
fibo = [str(i) for i in fibo]  
res = ",".join(fibo)   
print(res)

7

TypeError: ignored

Answer 63

In [ ]:
def genarator(n):
    i=0
    while i<=n:
        if i%2==0:
            yield i
        i+=1


num=int(input())
eveval = []
for i in genarator(num):
    eveval.append(str(i))

print (",".join(eveval))

Answer 64

In [ ]:
def gen(n):
    for i in range(n+1):
        if i % 35 == 0:  
            yield i

n = int(input())
res = [str(i) for i in gen(n)]
print(",".join(res))

Answer 65

In [ ]:
data = [2,4,5,6]
for i in data:
    assert i%2 == 0, "{} is not even".format(i)

Answer 66

In [ ]:
exp = input()
res = eval(exp)
print(res)

Answer 67

In [ ]:
def search(lst, item):
    low = 0
    high = len(lst) - 1
    
    while low <= high:
        mid = round((low + high) / 2)
        if lst[mid] == item:
            return mid
        elif lst[mid] > item:
            high = mid - 1
        else:
            low = mid + 1
    return None
    
lst = [1,3,5,7,9]
print(search(lst, 9))

Answer 68

In [ ]:
import random
print (random.random()*100)

Answer 69

In [ ]:
import random
print (random.random()*100-5)

Answer 70

In [ ]:
import random
resp = [i for i in range(0,11,2)]
print(random.choice(resp))